{
	debug
	auto_https off
	order coraza_waf first
	log {
		format console
		level debug
	}
}

:8080 {
	coraza_waf {
		load_owasp_crs
		directives `
		Include @coraza.conf-recommended
		SecRuleEngine On
		SecDebugLog /dev/stdout
		SecDebugLogLevel 9
		SecRule ARGS:json.foo "@contains bar" "id:1001,phase:2,deny,log"
		`
	}
	reverse_proxy {$HTTPBIN_HOST:localhost}:8081
}
